<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="30">
    <Properties>
        <property name="filters">com,sun,java</property>
        <property name="LOG_PATTERN">[%d{yyyy-MM-dd HH:mm:ss.SSS}] %highlight{%5p} --- %-40.40c{1.} :
            %m%n%xEx{filters(${filters})}
        </property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>